.dart_tool/
.pub-cache/
.pub/
build/
.gradle/
local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Pods/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
.vscode/
.idea/
*.iml
.DS_Store
*.log
.env
.env.*